.pricecolumns {
  border: 1px solid black;
    width: 100%;
    padding: 0px;
    border-radius: 3rem;
  }
  
  .priceprice {
    border-radius: 3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .priceprice:hover {
    box-shadow: 10px 8px 12px 10px rgba(0, 0, 0, 0.2)
  }
  
  .priceprice .header {
    border-radius: 3rem 3rem 0 0;
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .priceprice li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .priceprice .grey {
    background-color: #eee;
    font-size: 20px;
  }
  .priceprice .grey2 {
    border-radius:0 0 3rem 3rem ;
    background-color: #eee;
    font-size: 20px;
  }