.App {
  text-align: center;
}

  /* background: linear-gradient(194deg, #0d855f, #2d5e0c,#390633);
  background-size: 400% 400%;

  -webkit-animation: login_animate 10s ease infinite;
  -moz-animation: login_animate 10s ease infinite;
  -o-animation: login_animate 10s ease infinite;
  animation: login_animate 8s ease infinite; */

.login-float-child {
  width: 50%;
  float: left;
  background: url(.././src/img/login-bg.gif) center 
}  

@-webkit-keyframes login_animate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes login_animate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-o-keyframes login_animate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes login_animate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
.logintext{
  color: rgb(255, 255, 255);
  /* background: -webkit-linear-gradient(245deg, rgba(0,255,246,0.8113620448179272) 3%, rgba(255,41,41,0.7469362745098039) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}